@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  src: url("./assets/fonts/PT_Sans/PTSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  src: url("./assets/fonts/PT_Sans/PTSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-weight: 400;
  src: url("./assets/fonts/Nunito/static/Nunito-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-weight: 700;
  src: url("./assets/fonts/Nunito/static/Nunito-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: url("./assets/fonts/Montserrat/static/Montserrat-Medium.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  src: url("./assets/fonts/Montserrat/static/Montserrat-SemiBold.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src: url("./assets/fonts/Montserrat/static/Montserrat-Bold.ttf")
    format("truetype");
}
.nunito-text {
  @apply font-nunito font-bold text-[20px];
}

.custom-search input {
  border: none;
  border-radius: 25px;
  background-color: #eaf0ff;
  padding: 12px 16px;
  position: relative;
}
.custom-search input:active {
  box-shadow: none;
}
.custom-search button {
  background-color: transparent !important;
  right: 10px;
  border-radius: 25px;
}
.custom-search .ant-input-group-addon {
  background: none;
}
.custom-input input {
  background-color: #eaf0ff;
}
.custom-input2 input {
  background-color: transparent;
}
.custom-range-picker .ant-picker-input input {
  font-size: 12px;
  font-family: "Nunito", "sans-serif";
}

.custom-collapse .ant-collapse-header-text {
  width: 100%;
  flex: auto !important;
}
.custom-collapse .anticon {
  cursor: pointer;
}

.tableHeader
  .ant-pagination
  .ant-pagination-item:not(.ant-pagination-item-active):hover {
  transition: 0s;
  background-color: transparent !important;
}

.tableHeader .ant-pagination-item.ant-pagination-item-active {
  background-color: transparent;
  border: none;
  border-radius: 0;
}

.tableHeader
  .ant-pagination-item.ant-pagination-item-active
  div.paginationPageItem {
  background: #325ecd;
  border: 1px solid rgba(32, 67, 90, 0.5);
  border-radius: 13px;
  color: #fff;
}

.tableHeader tbody tr:last-child {
  border-radius: 20px;
}

.tableHeader .ant-table-pagination-right {
  justify-content: flex-start;
}
.tableHeader .ant-table-pagination {
  justify-content: flex-start;
}

.tableHeader .ant-table-cell-row-hover {
  background-color: #5075ca !important;
  color: #fff;
  cursor: pointer;
}

.filter-group .ant-select-selector {
  background-color: #d7e1e5 !important;
  color: #000;
  border-radius: 1rem;
  padding: 0.5rem 1rem !important;
}

.filter-group .ant-select .ant-select-selection-placeholder,
.filter-group .ant-select .ant-select-arrow {
  color: #000;
}
