@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  src: url("./assets/fonts/PT_Sans/PTSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  src: url("./assets/fonts/PT_Sans/PTSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-weight: 400;
  src: url("./assets/fonts/Nunito/static/Nunito-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-weight: 700;
  src: url("./assets/fonts/Nunito/static/Nunito-Bold.ttf") format("truetype");
}

.nunito-text {
  @apply font-nunito font-bold text-[20px];
}
